# 4 tasks

In [2]:
import graphlab
train_data = graphlab.SFrame('image_train_data')
test_data = graphlab.SFrame('image_test_data')
graphlab.canvas.set_target('ipynb')

In [8]:
train_data.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

In [6]:
train_data["label"].sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [7]:
train_data["label"].unique()

dtype: str
Rows: 4
['bird', 'dog', 'cat', 'automobile']

In [11]:
# split train_data for each of image categories
bird_data = train_data[train_data["label"]=="bird"]
len(bird_data)

478

In [15]:
dog_data = train_data[train_data["label"]=="dog"]
len(dog_data)

509

In [16]:
cat_data = train_data[train_data["label"]=="cat"]
len(cat_data)

509

In [17]:
automobile_data = train_data[train_data["label"]=="automobile"]
len(automobile_data)

509

In [18]:
# creating models for each of labelled data
bird_model = graphlab.nearest_neighbors.create(bird_data,features=["deep_features"],label="id")

Starting brute force nearest neighbors model training.

In [19]:
dog_model = graphlab.nearest_neighbors.create(dog_data,features=["deep_features"],label="id")

Starting brute force nearest neighbors model training.

In [20]:
cat_model = graphlab.nearest_neighbors.create(cat_data,features=["deep_features"],label="id")

Starting brute force nearest neighbors model training.

In [21]:
automobile_model = graphlab.nearest_neighbors.create(automobile_data,features=["deep_features"],label="id")

Starting brute force nearest neighbors model training.

In [28]:
first_image = test_data[0:1]
first_image

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+----+----------------------+-------+-------------------------------+
| id |        image         | label |         deep_features         |
+----+----------------------+-------+-------------------------------+
| 0  | Height: 32 Width: 32 |  cat  | [1.13469004631, 0.0, 0.0, ... |
+----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
+-------------------------------+
[1 rows x 5 columns]

In [29]:
first_image["image"].show()

In [30]:
cat_model.query(first_image)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 7.021ms      |

| Done         |         | 100         | 28.076ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [31]:
dog_model.query(first_image)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 5.012ms      |

| Done         |         | 100         | 42.111ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [33]:
# splitting the test_data just like we did with training data
bird_test_data = test_data[test_data["label"]=="bird"]
cat_test_data = test_data[test_data["label"]=="cat"]
dog_test_data = test_data[test_data["label"]=="dog"]
automobile_test_data = test_data[test_data["label"]=="automobile"]

In [35]:
len(automobile_test_data)

1000

In [36]:
dog_cat_neighbors = cat_model.query(dog_test_data, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 276.737ms    |

| Done         | 509000  | 100         | 296.789ms    |

+--------------+---------+-------------+--------------+

In [37]:
dog_dog_neighbors = dog_model.query(dog_test_data, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 63000   | 12.3772     | 220.586ms    |

| Done         | 509000  | 100         | 252.67ms     |

+--------------+---------+-------------+--------------+

In [38]:
dog_bird_neighbors = bird_model.query(dog_test_data, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 60000   | 12.5523     | 234.589ms    |

| Done         | 478000  | 100         | 253.638ms    |

+--------------+---------+-------------+--------------+

In [40]:
dog_automobile_neighbors = cat_model.query(automobile_test_data, k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 8

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 64000   | 12.5737     | 241.645ms    |

| Done         | 509000  | 100         | 256.683ms    |

+--------------+---------+-------------+--------------+

In [41]:
dog_dog_neighbors

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 1000

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      49803      | 33.4773590373 |  1   |
|      1      |       5755      | 32.8458495684 |  1   |
|      2      |      20715      | 35.0397073189 |  1   |
|      3      |      13387      | 33.9010327697 |  1   |
|      4      |      12089      | 37.4849250909 |  1   |
|      5      |       6094      |  34.945165344 |  1   |
|      6      |       3431      | 39.0957278345 |  1   |
|      7      |       6184      | 37.7696131032 |  1   |
|      8      |       2167      | 35.1089144603 |  1   |
|      9      |       7776      | 43.2422832585 |  1   |
+-------------+-----------------+---------------+------+
[1000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.