In [1]:
# Assignment - https://www.coursera.org/learn/ml-foundations/notebook/et8PR/predicting-house-prices-assignment
import graphlab
sales = graphlab.SFrame('home_data.gl')
graphlab.canvas.set_target('ipynb')
len(sales)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\VINAYB~1\AppData\Local\Temp\graphlab_server_1502833658.log.0

This non-commercial license of GraphLab Create for academic use is assigned to vinay.bysani@rutgers.edu and will expire on July 29, 2018.

21613

In [2]:
sales.head()

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[10 rows x 21 columns]

In [5]:
'''
Assignment Question 1
1. Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.
'''

'\nAssignment Question 1\n1. Selection and summary statistics: In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price. Now, take the sales data, select only the houses with this zip code, and compute the average price. Save this result to answer the quiz at the end.\n'

In [6]:
# 
sales["zipcode"]

dtype: str
Rows: 21613
['98178', '98125', '98028', '98136', '98074', '98053', '98003', '98198', '98146', '98038', '98007', '98115', '98028', '98074', '98107', '98126', '98019', '98103', '98002', '98003', '98133', '98040', '98092', '98030', '98030', '98002', '98119', '98112', '98115', '98052', '98027', '98133', '98117', '98117', '98058', '98115', '98052', '98107', '98001', '98056', '98074', '98166', '98053', '98119', '98058', '98019', '98023', '98007', '98115', '98070', '98148', '98056', '98117', '98117', '98105', '98105', '98042', '98042', '98008', '98059', '98166', '98148', '98166', '98115', '98122', '98144', '98004', '98001', '98042', '98004', '98005', '98034', '98125', '98038', '98042', '98075', '98008', '98116', '98133', '98010', '98038', '98038', '98118', '98059', '98125', '98119', '98092', '98056', '98056', '98136', '98023', '98199', '98023', '98117', '98117', '98040', '98032', '98023', '98038', '98045', ... ]

In [11]:
# filter records based on only that zipcode whose prices are more in washington area
highestZipCodeSales = sales[sales["zipcode"]=="98039"]
len(highestZipCodeSales)

50

In [12]:
highestZipCodeSales["price"].mean()

2160606.5999999996

In [13]:
'''
Assignment Question 2
2. Filtering data: One of the key features we used in our model was the number of square feet of living space (‘sqft_living’) in the house. For this part, we are going to use the idea of filtering (selecting) data.

In particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the Logical Filter section of this documentation. Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.What fraction of the all houses have ‘sqft_living’ in this range? Save this result to answer the quiz at the end.
'''

'\nAssignment Question 2\n2. Filtering data: One of the key features we used in our model was the number of square feet of living space (\xe2\x80\x98sqft_living\xe2\x80\x99) in the house. For this part, we are going to use the idea of filtering (selecting) data.\n\nIn particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the Logical Filter section of this documentation. Using such filters, first select the houses that have \xe2\x80\x98sqft_living\xe2\x80\x99 higher than 2000 sqft but no larger than 4000 sqft.What fraction of the all houses have \xe2\x80\x98sqft_living\xe2\x80\x99 in this range? Save this result to answer the quiz at the end.\n'

In [15]:
sales["sqft_living"]

dtype: int
Rows: 21613
[1180L, 2570L, 770L, 1960L, 1680L, 5420L, 1715L, 1060L, 1780L, 1890L, 3560L, 1160L, 1430L, 1370L, 1810L, 2950L, 1890L, 1600L, 1200L, 1250L, 1620L, 3050L, 2270L, 1070L, 2450L, 1710L, 2450L, 1400L, 1520L, 2570L, 2320L, 1190L, 2330L, 1090L, 2060L, 2300L, 1660L, 2360L, 1220L, 2620L, 2570L, 4220L, 3595L, 1570L, 1280L, 3160L, 990L, 2290L, 1250L, 2753L, 1190L, 3150L, 1410L, 1980L, 2730L, 2830L, 2250L, 2420L, 3250L, 1850L, 2150L, 1260L, 2519L, 1540L, 1660L, 2770L, 2720L, 2240L, 1000L, 3200L, 4770L, 1260L, 2750L, 2380L, 1790L, 3430L, 1760L, 1040L, 1410L, 3450L, 2350L, 1900L, 2020L, 1680L, 960L, 2140L, 2660L, 2770L, 1610L, 1030L, 1980L, 3520L, 1200L, 1580L, 1580L, 3300L, 1960L, 1160L, 1810L, 2320L, ... ]

In [20]:
# filter based on above mentioned criteria
sqft_filter = sales[sales["sqft_living"]>2000]
sqft_filter = sqft_filter[sqft_filter["sqft_living"]<=4000]
len(sqft_filter)

9118

In [27]:
# fraction = 9118/total records
9118/21613.0

0.42187572294452413

In [28]:
'''
Assignment Question 3
refer the page on the top(link)
comparing two models based on two different set of features
'''

'\nAssignment Question 3\nrefer the page on the top(link)\ncomparing two models based on two different set of features\n'

# data split

In [29]:
training_data,test_data = sales.random_split(.8, seed=0)

In [31]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [33]:
my_features_model = graphlab.linear_regression.create(training_data, target="price", features=my_features)
advanced_features_model = graphlab.linear_regression.create(training_data, target="price", features=advanced_features)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16507

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 1.033145     | 3754589.216119     | 1330420.731601       | 182621.176753 | 168490.620260   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 16500

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 0.021747     | 3455291.776984     | 5158126.644077       | 153158.490960 | 219061.915147   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

In [37]:
my_features_model.evaluate(test_data)

{'max_error': 3468251.3101787297, 'rmse': 179532.94026530028}

In [35]:
advanced_features_model.evaluate(test_data)

{'max_error': 3571747.770620959, 'rmse': 157203.24265237263}

In [38]:
my_features_model.evaluate(test_data)["rmse"] - advanced_features_model.evaluate(test_data)["rmse"]

22329.697612927645